@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AstroGears</h1>
    <p class="lead">Basic astrology natal and event chart comparison and analysis.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Entered Charts</h2>
        <p>
            Natal and event charts, also transit charts and Heleocentric charts that have been set up.
        </p>
        <p><a class="btn btn-default" href="#">Coming Soon &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Celestial Objects</h2>
        <p>The luminaries (Sun/Moon), the planets, asteroids and all sorts of other calculated points in between.</p>
        <p><a class="btn btn-default" href="#">Coming Soon &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Synastry</h2>
        <p>The comparison of aspects and positions between two natal charts.</p>
        <p><a class="btn btn-default" href="#">Coming Soon &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Transits</h2>
        <p>
            How does a natal chart compare to another point in time?  How do alignments at another point in time
            stack up against the alignments of a person's (or nation's or entity's) birth?
        </p>
        <p><a class="btn btn-default" href="#">Coming Soon &raquo;</a></p>
    </div>
</div>